body{
	background-color: #fff
} 

h1{
	margin-top: 20px;
	color:#fff;
}
#subtitulo{
	color:#fff;
	font-size: 1.5rem
}

.jumbotron{
	background-color: #17a2b8;
	text-align: left;
	padding-left:2rem;
	padding-bottom:10rem;
}
.container{
	margin: 0;
}
.card{
	border: 1px solid rgba(0,0,0,0);
	margin: auto;
}
.display-4{
	font-weight: 500;
	color: ##fff;
}
.card-img-top{
	height: 100px;
	width: 100px;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#features{
	margin-left:auto;
	margin-right:auto;
	text-align: center;

}

.tituloscards{
	text-align: center; 
}

.carousel-inner{
	margin-top: 32px;
}

.carru{
	margin-left:auto;
	margin-right:auto; 
	height:550px;
	width: 370px;
	border-radius: 10px;

}

.resaltado{
	lighting-color: #eee;
}
.btn-outline-dark{
	background-color:rgba(200,200,200,0.4);
	color: rgb(0,0,0);
	border-color: rgb(200,200,200);
}
#footer {
	color: #fff;
	margin-top: 50px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#footer a{
	background-color:#fff;
	font-size: 30px;
}
.fab{
	color: #17a2b8;
}
.btn-floating.fixed-bottom {
    position: fixed;
    top: auto;
    bottom: 20px;
    right: 15px;
    left: auto;
}
.btn-whatsapp{
	color: white;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.btn-whatsapp svg {
    width: 39px;
    height: 40px;
    padding: 5px 2px;
    fill: white;
    vertical-align: middle;
}

.visible-when-content-ready {
    visibility: visible !important;
}
.m-bottom-double {
    margin-bottom: 40px!important;
}
.btn-floating {
    padding: 3px 4px 1px 4px;
    font-size: 5px;
    z-index: 100;
    line-height: 18px;
}
.d-none{
	display: unset;
}